<%- include("partials/header"); -%>

  <div class="error">
    <div class="error-icons">
      <i class="fa-solid fa-parachute-box"></i>
    </div>
    <div class="error-text">
      <h1>Error! Field cannot be empty!</h1>
      <h3>Go back and try again.</h3>
    </div>
    <div>
      <i class="fa-solid fa-boxes-packing"></i>
    </div>
  </div>

<%- include("partials/footer"); -%>