<%- include("partials/header"); -%>


  <div class="box" id="heading">
    <h1> Title </h1>
  </div>

  <div class="box">
    
      
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="" onChange="this.form.submit()">
          <p>      </p>
        </div>
        <input type="hidden" name="listName" value=""></input>
      </form>


      <form class="item" action="/" method="post">
        <input class="itemsList" type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button class="add" type="submit" name="list" value="">+</button>
      </form>
  </div>


<%- include("partials/footer"); -%>




